* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans', sans-serif;`
    color: #000;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
header {
    width: 100%;
    height: auto;
}
.toph {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.toph .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.toph .container .col {
    float: left;
    height: 80px;
    line-height: 80px;
}
.toph .container .col {
    width: 50%;
}
#logo {
    vertical-align: middle;
}
.toph .container .col ul {
    list-style: none;
}
.toph .container .col ul li {
    display: inline-block;
}
.toph .container .col.left ul li {
    margin-left: 30px;
}
.toph .container .col.right ul li {
    margin-right: 30px;
}
.toph .container .col ul li a {
    text-decoration: none;
    color: #000;
}
.toph .container .col.right {
    text-align: right;
}
.button {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}
.bottomh {
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
    color: #000;
    position: relative;
}
.bottomh .container {
    width: 1400px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 80px;
    margin-top: 60px;
}
.bottomh .container .col.left {
    width: 30%;
    float: left;
    margin-top: 40px;
}
.bottomh .container .col.right {
    width: 70%;
    float: right;
    margin-top: 40px;
}
.bottomh .container .col.left p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.bottomh .container .col.right img {
    width: 100%;
    object-fit: cover;
}
.bottomh .container .col.left .button {
    margin-top: 30px;
}
.bottomh .container .col.left .canc {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.bottomh .container .col.left .arrowd {
    color: #000;
}
main {
    width: 100%;
    height: auto;
}
.topm {
    width: 100%;
    height: 2500px;
    position: relative;
}
.topm .container {
    width: 1100px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topm .container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.topm .container input {
    margin-top: 20px;
    margin-right: 5px;
}
.topm .container .col .side {
    width: calc(100% / 3 - 60px);
    height: 1000px;
    float: left;
    margin: 30px 30px;
    border: 1px solid #d0d0d3;
}
.topm .container .col .side .boxh {
    border-bottom: 1px solid #d0d0d3;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-weight: normal;
}
.topm .container .col .side .options {
    padding: 0 30px;
    font-size: 14px;
}
.topm .container .col .side .options h2 {
    font-size: 25px;
    margin-top: 30px;
}
.topm .container .col .side .options .price {
    font-weight: 700;
}
.topm .container .col .side .options .users {
    color: #6e7d8a;
    margin-top: 5px;
}
.topm .container .col .side .options .space {
    line-height: 2.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}
.topm .container .col .side .options .button {
    padding: 5px 40px;
    margin-top: 30px;
}
.topm .container .col .side .options .buy {
    margin-top: 20px;
}
.topm .container .col .side .options .buy a {
    color: #0161ff;
}
.topm .container .col .side .options .separator {
    width: 20%;
    height: 1px;
    background-color: #d0d0d3;
    margin-top: 30px;
    margin-bottom: 30px;
}
.topm .container .col .side .highlights {
    list-style-position: inside;
    padding: 0 30px;
}
.topm .container .col .side .highlights h4 {
    margin-bottom: 20px;
}
.topm .container .col .side .highlights ul li {
    margin: 20px 0;
    font-size: 14px;
}
.topm .container .team {
    width: 100%;
    height: 250px;
    border: 1px solid #d0d0d3;
    margin-top: 20px;
    margin: 0 auto;
}
.topm .container .team .boxh {
    border-bottom: 1px solid #d0d0d3;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-weight: normal;
}
.topm .container .team .col {
    width: 100%;
    height: 50px;
}
.topm .container .team .col .left {
    width: 50%;
    float: left;
}
.topm .container .team .col .right {
    text-align: right;
    width: 50%;
    float: left;
}
.topm .container .team .enterprise {
    padding: 30px 30px;
}
.topm .container .team .enterprise .col .left {
    font-size: 25px;
    font-weight: 700;
}
.topm .container .team .enterprise .col .right .button {
    padding: 5px 50px;
}
.topm .container .team .enterprise p {
    font-size: 14px;
    margin-top: 30px;

}
.mainm .container .col {
    float: left;
}
.mainm .container .col.small {
    width: 40%;
    height: 100%;
}
.mainm .container .col.big {
    width: 60%;
    height: 100%;
}
.mainm .container .col.small h2 {
    font-size: 60px;
    padding-top: 25px;
}
.mainm .container .col.small p {
    font-size: 25px;
    line-height: 1.5em;
}