* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans', sans-serif;`
    color: #000;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
body {
    width: 2000px;
    margin: 0 auto;
}
.button {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}
/********HEADER*******/
header {
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
}
.toph {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.toph .container {
    width: 100%;
    margin: 0 auto;
}
.toph .container .col {
    float: left;
    height: 80px;
    line-height: 80px;
}
.toph .container .col {
    width: 50%;
}
#logo {
    vertical-align: middle;
}
.toph .container .col ul {
    list-style: none;
}
.toph .container .col ul li {
    display: inline-block;
}
.toph .container .col.left ul li {
    margin-left: 30px;
}
.toph .container .col.right ul li {
    margin-right: 30px;
}
.toph .container .col ul li a {
    text-decoration: none;
    color: #000;
}
.toph .container .col.right {
    text-align: right;
}
.button {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}
.bottomh {
    width: 100%;
    background-color: #b4d0e7;
    color: #000;
    position: relative;
    top: 0;
    left: 0;
}
.bottomh .container {
    width: 1400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h1 {
    font-size: 80px;
}
.bottomh .container .col.left {
    width: 30%;
    float: left;
    margin-top: 40px;
}
.bottomh .container .col.right {
    width: 70%;
    float: right;
    margin-top: 40px;
}
.bottomh .container .col.left p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.bottomh .container .col.right img {
    width: 100%;
    object-fit: cover;
}
.bottomh .container .col.left .button {
    margin-top: 30px;
}
.bottomh .container .col.left .canc {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.bottomh .container .col.left .arrowd {
    color: #000;
}
/********MAIN*******/
/*sezione main top*/
main {
    width: 100%;
    height: 5600px;
}
.topm {
    width: 100%;
    height: 1700px;
    position: relative;
    top: 0;
    left: 0;
}
.topm .container {
    margin-top: 200px;
    width: 1500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.topm .container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.topm .container input {
    margin-top: 20px;
    margin-right: 5px;
}
.topm .container .col .side {
    width: calc(100% / 3 - 60px);
    height: 1000px;
    float: left;
    margin: 30px 30px;
    border: 1px solid #d0d0d3;
}
.topm .container .col .side .boxh {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-weight: normal;
}
.topm .container .col .side .boxh h3:before {
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .col .side .boxh .team:before {
    content: '\f1ad';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .col .side .options {
    padding: 0 30px;
    font-size: 14px;
}
.topm .container .col .side .options h2 {
    font-size: 25px;
    margin-top: 30px;
}
.topm .container .col .side .options .price {
    font-weight: 700;
}
.topm .container .col .side .options .users {
    color: #6e7d8a;
    margin-top: 5px;
}
.topm .container .col .side .options .space {
    line-height: 2.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}
.topm .container .col .side .options .space .iusers:before {
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .col .side .options .space .iarchive:before {
    content: '\f07b';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .col .side .options .space .ipencil:before {
    content: '\f303';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .col .side .options .button {
    padding: 5px 40px;
    margin-top: 30px;
}
.topm .container .col .side .options .buy {
    margin-top: 20px;
}
.topm .container .col .side .options .buy a {
    color: #0161ff;
}
.topm .container .col .side .options .separator {
    width: 20%;
    height: 1px;
    background-color: #d0d0d3;
    margin-top: 30px;
    margin-bottom: 30px;
}
.topm .container .col .side .highlights {
    list-style-position: inside;
    padding: 0 30px;
}
.topm .container .col .side .highlights h4 {
    margin-bottom: 20px;
}
.topm .container .col .side .highlights ul {
    list-style: none;
}
.topm .container .col .side .highlights ul li {
    margin: 20px 0;
    font-size: 14px;
}
.topm .container .col .side .highlights ul li::before {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: #1a71ff;
    padding-right: 5px;
}
.topm .container .team {
    width: 100%;
    border: 1px solid #d0d0d3;
    margin-top: 20px;
    margin: 0 auto;
}
.topm .container .team .boxh {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-weight: normal;
}
.topm .container .team .boxh h3:before {
    content: '\f1ad';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 5px;
}
.topm .container .team .col {
    width: 100%;
}
.topm .container .team .col .left {
    width: 50%;
    float: left;
}
.topm .container .team .col .right {
    text-align: right;
    width: 50%;
    float: left;
}
.topm .container .team .enterprise {
    padding: 30px 30px;
}
.topm .container .team .enterprise .col .left {
    font-size: 25px;
    font-weight: 700;
}
.topm .container .team .enterprise .col .right .button {
    padding: 5px 50px;
}
.topm .container .team .enterprise h4 {
    margin-top: 50px;
}
.topm .container .team .enterprise p {
    font-size: 14px;
    margin-top: 30px;
}
/*sezione main middle*/
.middlem {
    width: 100%;
    height: 2100px;
    position: relative;
    top: 0;
    left: 0;
}
.middlem .container.first {
    width: 1100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.middlem .container.first .col {
    float: left;
}
.middlem .container.first .col.small {
    width: 45%;
    padding: 25px 50px;
}
.middlem .container.first .col.big {
    width: 55%;
    height: 500px;
    background-image: url(../img/partner.png);
    background-size: cover;
}
.middlem .container.first .col.small h2 {
    font-size: 25px;
}
.middlem .container.first .col.small p {
    font-size: 14px;
    margin-bottom: 20px;
}
.middlem .container.first .col.small .button {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.middlem .container.second {
    width: 1100px;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
}
.middlem .container.second .row {
    width: 100%;
    margin-bottom: 150px;
}
.middlem .container.second .row .col {
    width: calc(100% / 3);
    float: left;
    height: 500px;
    padding: 30px 30px;
}
.middlem .container.second .row .col img {
    width: 350px;
}
.middlem .container.second .row .col h3 {
    font-size: 25px;
}
.middlem .container.second .row .col p {
    font-size: 14px;
    margin-top: 20px;
}
.middlem .container.second h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.middlem .container.second a {
    color: #0061ff;
}
/*sezione main bottom*/
.bottomm {
    height: 1700px;
    position: relative;
    top: 0;
    left: 0;
}
.bottomm .partners {
    position: absolute;
    width: 100%;
}
.bottomm .partners .col.left {
    float: left;
    width: 500px;
    height: 500px;
    position: relative;
}
.bottomm .partners .col.right {
    float: right;
    width: 500px;
    height: 500px;
    position: relative;
}
.bottomm .partners .col.center {
    height: 500px;
    max-width: 700px;
    float: left;
    margin: auto;
    padding: 50px 50px;
}
.bottomm .partners .col.left .topleft {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a2d39b;
    background-image: url(../img/designit.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.left .topright {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #61082b;
    background-image: url(../img/arizona_state_university.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.left .bottomleft {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0093ce;
    background-image: url(../img/university_of_florida.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.left .bottomright {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff1c1c;
    background-image: url(../img/topps.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.right .topleft {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d5001f;
    background-image: url(../img/world_bicycle_relief.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.right .topright {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b4d0e7;
    background-image: url(../img/hearst_corp.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.right .bottomleft {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0d2481;
    background-image: url(../img/lonely_planet.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.right .bottomright {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffd830;
    background-image: url(../img/clear_channel.svg);
    background-position: center;
    background-size: 10em;
    background-repeat: no-repeat;
}
.bottomm .partners .col.center img {
    height: 10%;
}
.bottomm .partners .col.center .separator {
    width: 20%;
    height: 1px;
    background-color: #e6e6e7;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bottomm .partners .col.center p {
    margin-bottom: 40px;
}
.bottomm .trial {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 500px;
    background-color: #b4d0e7;
}
.bottomm .trial .col {
    width: 50%;
    height: 500px;
    float: left;
    padding-top: 250px;
    padding-left: 250px;
}
.bottomm .trial .col h2 {
    color: #61082b;
    font-size: 40px;
}
.bottomm .trial .col .button {
    background-color: #fff;
    color: #000;
    padding: 10px 50px;
}
.bottomm .faq {
    width: 1500px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 1000px;
    transform: translateX(-50%);
}
.bottomm .faq h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
}
.bottomm .faq p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 700;
}
/*******FOOTER*******/
footer {
    background-color: #000;
    color: #fff;
}
footer .link {
    width: 1500px;
    height: 500px;
    margin: 0 auto;
}
footer .link .col {
    width: 20%;
    height: 200px;
    float: left;
    margin-top: 100px;
}
footer .link .col ul {
    list-style: none;
    margin-top: 30px;
}
footer .link .col h4 {
    font-size: 20px;
}
footer .link .col ul li {
    padding: 5px 0;
    font-size: 14px;
}
footer .separator {
    position: relative;
    top: 400px;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #fff;
}footer span {
    position: relative;
    top: 150px;
    font-size: 13px;
    color: #999999;
}